# includes/setup/configs/http/nginx/sites-available/default.conf.template
server {
    listen 80;
    server_name {{IWB_DOMAIN}} www.{{IWB_DOMAIN}};

    root /var/www/html;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/{{IWB_DOMAIN}}_access.log;
    error_log /var/log/nginx/{{IWB_DOMAIN}}_error.log;
}
