# HTTP redirect to HTTPS
server {
    listen 80;
    server_name {{IWB_DOMAIN}} www.{{IWB_DOMAIN}};
    return 301 https://$host$request_uri;
}

# HTTPS server block for WordPress
server {
    listen 443 ssl;
    server_name {{IWB_DOMAIN}} www.{{IWB_DOMAIN}};

    root /var/www/html/wordpress;
    index index.php index.html index.htm;

    ssl_certificate /etc/letsencrypt/live/{{IWB_DOMAIN}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{IWB_DOMAIN}}/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;

    access_log /var/log/nginx/{{IWB_DOMAIN}}_ssl_access.log;
    error_log /var/log/nginx/{{IWB_DOMAIN}}_ssl_error.log;

    client_max_body_size 64M;

    # Main WordPress rule
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    # Pass PHP scripts to PHP-FPM
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass 127.0.0.1:9000;  # or unix:/run/php/php8.1-fpm.sock
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_read_timeout 120;
    }

    # Deny access to .htaccess and hidden files
    location ~ /\. {
        deny all;
    }

    # Optional: allow direct access to robots.txt and favicon.ico
    location = /robots.txt  { access_log off; log_not_found off; }
    location = /favicon.ico { access_log off; log_not_found off; }

    # Optional: deny access to backup/config files
    location ~* \.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)$ {
        deny all;
    }
}

server { # Storj http reverse proxy
    listen 443 ssl;
    server_name {{COMPOSE_PROJECT_NAME}}media.{{IWB_DOMAIN}};

    ssl_certificate /etc/letsencrypt/live/{{IWB_DOMAIN}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{IWB_DOMAIN}}/privkey.pem;

    access_log /var/log/nginx/{{COMPOSE_PROJECT_NAME}}media-access.log;
    error_log /var/log/nginx/{{COMPOSE_PROJECT_NAME}}media-error.log;

    location / {
        resolver 127.0.0.1;                                       
        rewrite ^/(.*)$ /$1 break;
        proxy_pass http://link.storjshare.io/raw/{{IWB_STORJ_MEDIA_KEY}}/{{IWB_STORJ_MEDIA_BUCKET}}/$1;
        proxy_set_header Host link.storjshare.io;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
    }
}

