# HTTP redirect to HTTPS
server {
    listen 80;
    server_name {{IWB_DOMAIN}} www.{{IWB_DOMAIN}};

    return 301 https://$host$request_uri;
}

# HTTPS server block
server {
    listen 443 ssl;
    server_name {{IWB_DOMAIN}} www.{{IWB_DOMAIN}};

    root /var/www/html/wordpress;
    index index.html index.htm;

    ssl_certificate /etc/letsencrypt/live/{{IWB_DOMAIN}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{IWB_DOMAIN}}/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;

    location / {
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/{{IWB_DOMAIN}}_ssl_access.log;
    error_log /var/log/nginx/{{IWB_DOMAIN}}_ssl_error.log;
}
