# includes/setup/configs/http/nginx/sites-available/mail.conf.template
server {
    listen 80;
    server_name mail.{{IWB_DOMAIN}};

    root /var/www/html/postfixadmin/public;
    index index.php index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php-fpm.sock; # Adjust as needed
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    access_log /var/log/nginx/mail.{{IWB_DOMAIN}}_access.log;
    error_log /var/log/nginx/mail.{{IWB_DOMAIN}}_error.log;
}
