# ===============================
# IWB Digital Presence .env File
# ===============================

# COMPOSE_PROJECT_NAME is mostly cosmentic - it just sets names of docker services
# Set this to a 3 letter representation of your project 
# For example, IWB (for InnerWebBlueprint.com)
# Or SMA (for SharperMindAcademy.com)
COMPOSE_PROJECT_NAME=ytd 

# ======================
# Some base Configuration
# ======================
# IWB_MODE, options: 'bare-bones-email-only' or 'full'
# bare-bones-email-only mode sets up a bare bones email enviornmnet so you can receive an email 
# at your domain.
# full mode is a fully configured email enviornment and a fully configured wordpress website.
IWB_MODE=full
                        
# ======================
# Domain Configuration
# ======================
IWB_DOMAIN=yourdomain.tld               # Domain for accepting email i.e. email@yourdomain.tld

# ======================
# Server Configuration
# =====================
#PUBLIC_IP=0.0.0.0                      # External Public IP to bind services

# ====================
# Database Admin Setup
# ====================
IWB_MYSQL_ROOT_PASSWORD=                # Root password for MySQL (option - one will be generated if empty)

# ====================
# Mail Admin Setup
# ====================
IWB_MAIL_USER=postmaster                    # Default user account for mail
IWB_MAIL_PASS=monkey!monkey@stars37         # Initial mail account password
IWB_POSTFIXADMIN_SQL_DBNAME=postfixadmin    # PostfixAdmin database name
IWB_POSTFIXADMIN_SQL_USER=postfixadmin      # PostfixAdmin database admin username
IWB_POSTFIXADMIN_SQL_PASSWORD=              # PostfixAdmin SQL password (optional-one will be generated)

# ====================
# RSPAMD Admin
# ====================
IWB_RSPAMD_CONTROLLER_PASSWORD="aklsio#445$#"           # Rspamd controller password
IWB_RSPAMD_CONTROLLER_ENABLE_PASSWORD="lo4958jdk$#"     # Rspamd controller enable password

# =========================
# WordPress
# =========================

IWB_WP_MYSQL_DATABASE="${COMPOSE_PROJECT_NAME}wpdb"     # WordPress database name
IWB_WP_MYSQL_USER="${COMPOSE_PROJECT_NAME}wpdb"         # WordPress database user
IWB_WP_MYSQL_PASSWORD=""                                # WordPress database password (optional)
IWB_WP_SITEURL="https://${IWB_DOMAIN}"                  # WordPress site URL
IWB_WP_HOME="${IWB_WP_SITEURL}"                         # WordPress home URL 
# Below are set automatically in setup-env.sh
# IWB_WP_MYSQL_HOST=localhost
# IWB_WP_TABLE_PREFIX
# IWB_WP_SITEURL=
# IWB_WP_HOME=

# =========================
# N8N Settings
# =========================
# This needs to be updated or whatever... I don't think these work... user has to be setup manually on first start.
export IWB_N8N_USER="admin"
export IWB_N8N_PASSWORD="changeme123"
export IWB_N8N_USER_MANAGEMENT="false"

# =============================
# Offsite Object Storage (S3)
# =============================
# Persistent File / Object Storage
IWB_PERSISTENT_STORAGE=storj # options: storj, possible new options in the future
IWB_STORJ_GRANT= Please see readme for how to create what goes here
IWB_STORJ_WPOPS_BUCKET=Please see readme for how to create what goes here
IWB_STORJ_MEDIA_BUCKET="${COMPOSE_PROJECT_NAME}media"
IWB_STORJ_MEDIA_KEY=not currently in use (for when I implment auto install of the media plugin)
