# ===============================
# IWB Digital Presence .env File
# ===============================

# Mode: 'bare-bones-email-only' or 'full'
IWB_MODE=bare-bones-email-only

# ======================
# Domain Configuration
# ======================
IWB_DOMAIN=yourdomain.tld          # Domain for accepting email i.e. email@yourdomain.tld
IWB_SLUG=yourdomain-tld     # Used for naming Docker container (no dots)

# =====================
# Server Configuration
# =====================
PUBLIC_IP=192.0.2.123               # External Public IP to bind services

# ====================
# Mail Admin Account
# ====================
MAIL_USER=postmaster                # Default user account for mail
MAIL_PASS=changeme123               # Make sure to use a strong password!

# =========================
# WordPress (Full Mode)
# =========================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# =============================
# Offsite Object Storage (S3)
# =============================
# Persistent File / Object Storage
PERSISTENT_STORAGE=none # options: none, storj
STORJ_GRANT=
STORJ_WPOPS_BUCKET=
