# includes/setup/configs/mail/postfix/postfix-main-full.cf.template
# Mail system identity
myhostname = mail.{{IWB_DOMAIN}}
mydomain = {{IWB_DOMAIN}}
myorigin = $mydomain

# Accept mail only for this domain
mydestination = localhost

# Recipient restrictions (ensure valid delivery)
smtpd_helo_required = yes
smtpd_recipient_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unauth_destination

# Disable unused alias_maps to avoid LMDB warnings
alias_maps =
alias_database =

# Mailbox setup
virtual_mailbox_domains = $mydomain
virtual_mailbox_base = /var/mail/vmail
virtual_mailbox_maps = hash:/etc/postfix/virtual_mailbox
virtual_alias_maps = regexp:/etc/postfix/virtual_alias
virtual_uid_maps = static:10000
virtual_gid_maps = static:10000

# Transport to Dovecot
#virtual_transport = dovecot
virtual_transport = lmtp:unix:private/dovecot-lmtp

# Listen on all interfaces
inet_interfaces = all
inet_protocols = ipv4

# TLS settings
smtpd_tls_cert_file = /etc/letsencrypt/live/{{IWB_DOMAIN}}/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{IWB_DOMAIN}}/privkey.pem
smtpd_use_tls = yes
smtpd_tls_auth_only = yes
smtpd_tls_security_level = may
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_tls_loglevel = 1
smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3
smtpd_tls_mandatory_ciphers = high


# Logging & limits         
smtpd_banner = $myhostname ESMTP IWB Mail System
biff = no
append_dot_mydomain = no
readme_directory = no
virtual_alias_domains = 
