# includes/setup/configs/mail/dovecot/dovecot-99-full.conf.template

auth_debug = yes
auth_debug_passwords = no
auth_verbose = yes

debug_log_path = /var/log/dovecot-debug.log
info_log_path = /var/log/dovecot-info.log
log_path = /var/log/dovecot.log
log_timestamp = "%Y-%m-%d %H:%M:%S "

disable_plaintext_auth = no
auth_mechanisms = plain login

managesieve_notify_capability = mailto
managesieve_sieve_capability = fileinto reject envelope encoded-character vacation subaddress comparator-i;ascii-numeric relational regex imap4flags copy include variables body enotify environment mailbox date index ihave duplicate mime foreverypart extracttext

mbox_write_locks = fcntl

protocols = imap pop3 lmtp sieve

namespace inbox {
  inbox = yes
  location = 
  prefix = INBOX/
  separator = /

  mailbox Drafts {
    special_use = \Drafts
  }

  mailbox Junk {
    special_use = \Junk
  }

  mailbox Sent {
    special_use = \Sent
  }

  mailbox "Sent Messages" {
    special_use = \Sent
  }

  mailbox Trash {
    special_use = \Trash
  }
}


# === SQL Authentication Backend (Inline Configuration) ===
passdb {
  driver = sql
  args = /etc/dovecot/dovecot-sql.conf.ext
}

userdb {
  driver = sql
  args = /etc/dovecot/dovecot-sql.conf.ext
}

plugin {
  sieve = file:~/sieve;active=~/.dovecot.sieve
  sieve_before = /etc/dovecot/sieve-before/00-spam-to-junk.sieve
  sieve_plugins = sieve_imapsieve sieve_extprograms
  sieve_global_extensions = +vnd.dovecot.pipe
  sieve_pipe_bin_dir = /etc/dovecot/sieve-pipe
  sieve_extensions = +ereject
  imapsieve_mailbox1_name = INBOX/Junk
  imapsieve_mailbox1_causes = COPY
  imapsieve_mailbox1_before = file:/etc/dovecot/sieve/report-spam.sieve
  imapsieve_mailbox2_name = *
  imapsieve_mailbox2_from = INBOX/Junk
  imapsieve_mailbox2_causes = COPY
  imapsieve_mailbox2_before = file:/etc/dovecot/sieve/report-ham.sieve
}

service pop3-login {
  inet_listener pop3 {
    port = 110
  }
}

service imap-login {
  inet_listener imap {
    port = 143
  }
  inet_listener imaps {
    port = 993
    ssl = yes
  }
}

service lmtp {
  executable = /usr/libexec/dovecot/lmtp
  process_limit = 10
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0600
    user = postfix
  }
}

service managesieve-login {
  inet_listener sieve {
    port = 4190
  }
}

service managesieve {
  process_limit = 10
}

service auth-worker {
  user = vmail
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0666
    user = postfix
  }
  unix_listener auth-userdb {
    group = vmail
    mode = 0666
    user = vmail
  }
  user = dovecot
}

ssl = required
ssl_cert = </etc/letsencrypt/live/{{IWB_DOMAIN}}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{IWB_DOMAIN}}/privkey.pem
ssl_dh = </etc/letsencrypt/ssl-dhparams.pem
ssl_min_protocol = TLSv1.2
ssl_prefer_server_ciphers = yes

# Enable Sieve filtering for LMTP delivery
protocol lmtp {
  mail_plugins = $mail_plugins sieve
}

protocol imap {
  mail_plugins = $mail_plugins imap_sieve
}
